html{
	background-color: #f8c30f;
}

body,h1,h2,h3,h4,h5,h6,p,div {
	margin: 0;
	padding: 0;
}
.navbar{
	margin-bottom: 0!important;
}
h3{
	font
}
clearfix::after{
	display: block;
	content: "";
	clear: both;
}
.navbar-brand{
	font-family: 'Gloria Hallelujah';
}
.dropdown-menu li{
	display: none;
}
.change{
	background-color:#f8c30f ;
}
.about{

}
.carousel-inner img{
	height: 400px;
	width: 500px;
	margin: auto;
	overflow: hidden;
}
.gallery{
	text-align: center;
}
.gallery img{
	height: 280px;
	width: 280px;
	margin: 10px;
	border: solid 5px #211f1f;
	box-shadow: 10px 10px 70px rgb(0, 78, 96);
}

.copyright{
	float: left;
	text-align: center;
	padding-top:10px;
	font-family:'Gloria Hallelujah'; 


}
.sns{
	float:right;
}
.sns a{
	color: #303560;
	text-decoration:none;
}
.fa{
	margin: 8px;
	text-align: center;
}


